* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #e2d5de;
  font-family: sans-serif;
}
.container {
  width: 700px;
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.todo {
  display: flex;
  justify-content: center;
  padding: 50px;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.input label {
  font-size: 16px;
  font-weight: 700;
  color: rgba(97, 90, 90, 0.99);
}
#todo-list {
  padding: 10px;
  outline: none;
  border: 2px solid rgba(97, 90, 90, 0.3);
  border-radius: 4px;
}
#todo-list:focus {
  border: 2px solid #1266f1;
}
form {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin-bottom: 20px;
}
.btn-add {
  display: flex;
  padding: 11px 20px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  border: 1px solid #1266f1;
  border-radius: 4px;
  background: #1266f1;
  transition: 0.3s linear;
}
.btn-add:hover {
  background: rgb(55, 123, 231);
}
ul {
  list-style: none;
}
.check {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.check1 {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 300px;
}
.show {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.hr {
  margin-top: 8px;
  opacity: 0.5;
  margin-bottom: 14px;
}
.btn {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s linear;
}
.btn:hover {
  transform: scale(1.2);
}
.clock {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 206px;
}
.input-checked {
  width: 15px;
  height: 15px;
  transition: 0.3s linear;
  cursor: pointer;
}

.clear {
  padding: 11px 20px;
  width: 100px;
  margin: 0 auto;
  font-weight: 600;
  color: white;
  cursor: pointer;
  border: 1px solid #1266f1;
  border-radius: 4px;
  background: #1266f1;
}
